---
title: Index Page
---
extends layouts/_layout
block content
  h1 Index page2
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur velit rerum iste repellat possimus reprehenderit laudantium consequuntur culpa repellendus blanditiis quibusdam eveniet nesciunt architecto nemo cumque, voluptatum, ratione unde itaque.
