---
title: Index_Page
bodyClass: Index_Page
outClass: Index_Page
---
extends layouts/_layout
block content
	.block
		._element
			.-modificator
				#app
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum nihil, ex possimus qui, expedita omnis, facilis facere sit id ad inventore deleniti esse deserunt eveniet illo repellendus voluptas in velit!
